If:
  PathMatch: .*

CompileFlags:
  CompilationDatabase: "build"

Index:
  StandardLibrary: Yes

Diagnostics:
  UnusedIncludes: Strict

InlayHints:
  Enabled: Yes
  Designators: No
  DeducedTypes: Yes
  ParameterNames: Yes
